---
layout: post-list
title: Projects
permalink: /blog
---
<h1>Projects</h1>

{% assign sorted-posts = site.posts | where: "categories","blog" %}
{% for post in sorted-posts limit: 10 %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% unless forloop.first %}</ul>{% endunless %}
<h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
<ul>
  {% assign date = currentdate %}
  {% endif %}
    <li>
    <div class="tag">
      {{ post.tags }}
    </div>
    <a href="{{ post.url }}" color="blue">{{ post.title }}</a>
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}