<div class="curriculum-dates">
  <h1>My Curriculum Vitae</h1>
</div>
<div class="curriculum">
    <div class="details">
        <h2><i class="icon fas fa-briefcase"> &nbsp; </i>Experience</h2>   
        <h3>Quality Engineer</h3>
        <h4><a href="https://www.theprojectgroup.com/en/" target="_blank">The Project Group</a></h4>
        <h4><i class="icon fas fa-calendar-check"></i> &nbsp; </i>April 2019 – Present</h4>
        <h4><i class="icon fas fa-map-marker-alt"></i> &nbsp; </i>Banyoles, Spain</h4>
        <p class="subDetails"> <span>&#8226;</span> Directly responsible for a 600% increase in automated tests in the first 7 months of joining the company</a></p>
        <p class="subDetails"> <span>&#8226;</span> High understanding of quality tools, data, and processes</a></p>
        <p class="subDetails"> <span>&#8226;</span> Scrum master working with ambiguous situations within projects and considering impacts on customers when making decisions</a></p>
        <p class="subTags">C# | C++ | agile | selenium | SQL | python | javascript | HTML</a></p>
        <hr>
        <h3>Reviewer</h3>
        <h4><a href="https://www.acs.org/content/acs/en.html" target="_blank">The American Chemical Society</a></h4>
        <h4><i class="icon fas fa-calendar-check"></i> &nbsp; </i>April 2018 – Present</h4>
        <h4><i class="icon fas fa-map-marker-alt"></i> &nbsp; </i>Washington, DC, USA</h4>
        <p class="subDetails"> <span>&#8226;</span> Assigned to review papers submitted to The American Chemical Society</a></p>
        <p class="subDetails"> <span>&#8226;</span> Review submitted documentation for validity and accuracy and generate queries to investigate and resolve problems in data</a></p>
        <p class="subTags">technical writing | data analysis | integrity | ethics | peer-review </a></p>
        <hr>
        <h3>Ph.D Researcher</h3>
        <h4><a href="http://www.nuigalway.ie/" target="_blank">The National University of Ireland Galway</a></h4>
        <h4><i class="icon fas fa-calendar-check"></i> &nbsp; </i>Nov 2014 – Dec 2018</h4>
        <h4><i class="icon fas fa-map-marker-alt"></i> &nbsp; </i>Galway, Ireland</h4>
        <p class="subDetails"> <span>&#8226;</span> Expert in automation for electrochemical biosensors using microfluidics and The Internet of Things with Wi-Fi and Bluetooth</a></p>
        <p class="subDetails"> <span>&#8226;</span> Published scientific research in internationally peer-reviewed journals</a></p>
        <p class="subTags">C++ | microcontroller fundamentals | electronic engineering | IoT | automation </a></p>
        <hr>
        <h3>Visiting Researcher</h3>
        <h4><a href="https://uconn.edu/" target="_blank">University of Connecticut</a></h4>
        <h4><i class="icon fas fa-calendar-check"></i> &nbsp; </i>July 2015 – Sep 2015</h4>
        <h4><i class="icon fas fa-map-marker-alt"></i> &nbsp; </i>Storrs, CT, USA</h4>
        <p class="subDetails"> <span>&#8226;</span> Application of quality control associated to the diagnostic process of the project to improve the scalability of the system</a></p>
        <p class="subDetails"> <span>&#8226;</span> Design and implementation of new engineering approaches to achieve the technical aims in each phase of the project</a></p>
        <p class="subDetails"> <span>&#8226;</span> Demonstrated ability to comfortably work with an international community of people</a></p>
        <p class="subTags">tech transfer | team work | diverse backgrounds | scientific collaboration </a></p>
        <hr>
        <h3>Private in the Corps of Engineers</h3>
        <h4><a href="https://www.military.ie/en/#1" target="_blank">Irish Defence Forces (Reserve)</a></h4>
        <h4><i class="icon fas fa-calendar-check"></i> &nbsp; </i>Sep 2009 – Sep 2012</h4>
        <h4><i class="icon fas fa-map-marker-alt"></i> &nbsp; </i>Renmore, Ireland</h4>
        <p class="subDetails"> <span>&#8226;</span> Proven leadership skills by example and positive role modelling</a></p>
        <p class="subDetails"> <span>&#8226;</span> High pressure, mentally and physically demanding environment</a></p>
        <p class="subDetails"> <span>&#8226;</span> Clear, concise and effective communication skills</a></p>
        <p class="subTags">leadership | team work | diverse backgrounds | planning </a></p>
      </div>
  <div class="details">
    <article> 
    <h2><i class="icon fas fa-university"> &nbsp; </i>Education</h2>
    <h3>Ph.D in Electrochemistry</h3>
    <p class="subDetails"><a href="http://www.nuigalway.ie/" target="_blank">The National University of Ireland Galway</a></a></p>
    <p class="subDetails">November 2014 - December 2018</p>
    <h3>B.S. (Hons) in Forensic Investigation and Analysis</h3>
    <p class="subDetails"><a href="https://www.itsligo.ie/" target="_blank">Institute of Technology Sligo</a></a></p>
    <p class="subDetails">September 2010 - June 2014</p>
    <hr>
    <h2><i class="icon fas fa-award"> &nbsp; </i>Most Proud Of</h2>
    <p class="subDetails"><i class="icon fas fa-road"> &nbsp; </i>Courage to take sole responsibility for my doctoral research project</a></p>
    <p class="subDetails"><i class="icon fas fa-heartbeat"> &nbsp; </i>Persistence & Loyalty I show despite challenging moments and my willingness to stay with projects until completion</a></p>
    <p class="subDetails"><i class="icon fas fa-people-carry"> &nbsp; </i>I thrive by leading teams by being efficient, visible and accessible</a></p>
    <p class="subDetails"><i class="icon fas fa-handshake"> &nbsp; </i>More than 5 years experience leading decisions that bring results and achieve goals</a></p>
    <hr>
    <h2><i class="icon fas fa-file-alt"> &nbsp; </i>Publications</h2>
    <p class="subDetails"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0925400519302424" target="_blank">Glucose Biosensor Based on Open-source Wireless Microfluidic Potentiostat</a> Sensors and Actuators B: Chemical, 2019, Impact Factor: 6.393, Q1</p>
    <p class="subDetails"><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/elan.201800632" target="_blank">Multiplexed Electrochemical Cancer Diagnostics with Automated Microfluidics</a> Electroanalysis, 2019, Impact Factor: 2.691, Q2</p>
    <p class="subDetails"><a href="https://pubs.acs.org/doi/10.1021/acs.jchemed.8b00200" target="_blank">Cost-Effective Wireless Microcontroller for Internet Connectivity of Open-Source Chemical Devices</a> Journal of Chemical Education, 2018, Impact Factor: 1.763, Q2</p>
    <p class="subDetails"><a href="https://pubs.acs.org/doi/abs/10.1021/acs.jchemed.7b00184" target="_blank">Inexpensive Miniature Programmable Magnetic Stirrer from Reconfigured Computer Parts</a> Journal of Chemical Education, 2017, Impact Factor: 1.763, Q2</p>
    <article>
  </div>
</div>
  

