<ul class="timeline">

  <!-- Item 16 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Site Reliability Engineering Team Lead</span>
        <span class="time-wrapper"><span class="time">April 2025 – Present</span></span>
      </div>
      <div class="desc">
        <a href="https://www.sage.com/en-gb" target="_blank">Sage</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Barcelona, Spain
        <p class="subDetails"> <span>&#8226;</span> Leading a globally distributed, cross-functional engineering team (Australia, Spain, South Africa) focused on improving the reliability, scalability, and performance of a large-scale SaaS accounting product with 180,000+ unique users/month.</a></p>
        <p class="subDetails"> <span>&#8226;</span> Hiring manager responsible for attracting, selecting, and growing strong engineering talent. </a>
        </p>
        <p class="subTags">Python | AWS | IaC | Github Actions | Kafka | SQL </a></p>
      </div>
    </div>
  </li>

  
  <!-- Item 15 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Senior Site Reliability Engineer</span>
        <span class="time-wrapper"><span class="time">October 2023 – April 2025</span></span>
      </div>
      <div class="desc">
        <a href="https://www.sage.com/en-gb" target="_blank">Sage</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Barcelona, Spain
        <p class="subDetails"> <span>&#8226;</span> Design and deployment of an API Gateway in front of our API service
          to secure and throttle customer traffic</a></p>
        <p class="subDetails"> <span>&#8226;</span> Migration of large production database to more efficient partitioned database </a>
        </p>
        <p class="subTags">Python | AWS | IaC | Github Actions | Git | SQL </a></p>
      </div>
    </div>
  </li>


  <!-- Item 14 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Senior Data Engineer</span>
        <span class="time-wrapper"><span class="time">January 2023 – October 2023</span></span>
      </div>
      <div class="desc">
        <a href="https://www.sage.com/en-gb" target="_blank">Sage</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Barcelona, Spain
        <p class="subDetails"> <span>&#8226;</span> Total ownership of AWS cloud infrastructure for a data science
          team</a></p>
        <p class="subDetails"> <span>&#8226;</span> Brought data science software from development to production </a>
        </p>
        <p class="subDetails"> <span>&#8226;</span> A lot of work around CI/CD using GitHub Actions to automate as much
          as possible</a></p>
        <p class="subDetails"> <span>&#8226;</span> Expertise in Docker containerization and orchestration for efficient
          management of data science codebases</a></p>
        <p class="subTags">Python | AWS | IaC | Github Actions | Git | SQL </a></p>
      </div>
    </div>
  </li>


  <!-- Item 13 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Data Engineer</span>
        <span class="time-wrapper"><span class="time">February 2022 – January 2023</span></span>
      </div>
      <div class="desc">
        <a href="https://www.sage.com/en-gb" target="_blank">Sage</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Barcelona, Spain
        <p class="subDetails"> <span>&#8226;</span> Successfully rebuilt AWS cloud infrastructure to increase security
          and speed of development work</a></p>
        <p class="subDetails"> <span>&#8226;</span> Implemented cost-saving measures through the use of spot instances
          in CI/CD building environment, resulting in a 70% reduction in associated cloud server costs </a></p>
        <p class="subDetails"> <span>&#8226;</span> Streamlined deployment process by migrating from TeamCity to GitHub
          Actions </a></p>
        <p class="subDetails"> <span>&#8226;</span> Expertise in Docker containerization and orchestration for efficient
          management of data science codebases</a></p>
        <p class="subTags">Python | AWS | IaC | Github Actions | Git | SQL </a></p>
      </div>
    </div>
  </li>


  <!-- Item 12 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Test Engineer</span>
        <span class="time-wrapper"><span class="time">February 2021 – Present</span></span>
      </div>
      <div class="desc">
        <a href="https://www.sage.com/en-gb" target="_blank">Sage</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Barcelona, Spain
        <p class="subDetails"> <span>&#8226;</span> Working with a talented team of engineers to build a wonderful SaaS
          company</a></p>
        <p class="subDetails"> <span>&#8226;</span> Innovating End to End Restful API development </a></p>
        <p class="subDetails"> <span>&#8226;</span> Creating very strong technical documentation </a></p>
        <p class="subDetails"> <span>&#8226;</span> Strong CI/CD experience with build servers and automated data
          reporting</a></p>
        <p class="subTags">C# | Grafana | TeamCity | Selenium | Git | SQL | agile | OpenAPI </a></p>
      </div>
    </div>
  </li>


  <!-- Item 11 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Professional Scrum Master II</span>
        <span class="time-wrapper"><span class="time">January 2021</span></span>
      </div>
      <div class="desc">
        <i class="icon fas fa-university"></i> &nbsp; Professional Scrum Master II
        <hr>
        <a href="https://www.scrum.org/" target="_blank">Scrum.org</a>
        <hr>
        <p class="subDetails"> <span>&#8226;</span> Industry-recognized "PSM II" certification</p>
        <p class="subDetails"> <span>&#8226;</span> Validated advanced knowledge of the Scrum framework and how to apply
          it</p>
        <p class="subDetails"> <span>&#8226;</span> Scrum mastery</p>
        <p class="subDetails"> <span>&#8226;</span> <a href="https://www.scrum.org/certificates/627534"
            target="_blank">Certificate verifiable here</a> </p>
      </div>
    </div>
  </li>


  <!-- Item 10 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Microsoft Certified: Azure Fundamentals</span>
        <span class="time-wrapper"><span class="time">September 2020</span></span>
      </div>
      <div class="desc">
        <i class="icon fas fa-university"></i> &nbsp; Microsoft Certified: Azure Fundamentals
        <hr>
        <a href="https://www.scrum.org/" target="_blank">Microsoft</a>
        <hr>
        <p class="subDetails"> <span>&#8226;</span> Industry-recognized "Azure Fundamentals" certification</p>
        <p class="subDetails"> <span>&#8226;</span> Validated depth of knowledge of cloud services and how those
          services are provided with Microsoft Azure</p>
        <p class="subDetails"> <span>&#8226;</span> <a
            href="https://www.youracclaim.com/badges/7c850b61-566e-47ed-a82e-a0a7b4689fd6?" target="_blank">Certificate
            verifiable here</a> </p>
      </div>
    </div>
  </li>


  <!-- Item 9 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Professional Scrum Master I</span>
        <span class="time-wrapper"><span class="time">August 2020</span></span>
      </div>
      <div class="desc">
        <i class="icon fas fa-university"></i> &nbsp; Professional Scrum Master I
        <hr>
        <a href="https://www.scrum.org/" target="_blank">Scrum.org</a>
        <hr>
        <p class="subDetails"> <span>&#8226;</span> Industry-recognized "PSM I" certification</p>
        <p class="subDetails"> <span>&#8226;</span> Validated depth of knowledge of the Scrum framework and its
          application</p>
        <p class="subDetails"> <span>&#8226;</span> Scrum mastery</p>
        <p class="subDetails"> <span>&#8226;</span> <a href="https://www.scrum.org/certificates/568448"
            target="_blank">Certificate verifiable here</a> </p>
      </div>
    </div>
  </li>


  <!-- Item 8 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Senior Quality Engineer</span>
        <span class="time-wrapper"><span class="time">August 2020 – February 2021</span></span>
      </div>
      <div class="desc">
        <a href="https://www.theprojectgroup.com/en/" target="_blank">The Project Group</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Banyoles, Spain
        <p class="subDetails"> <span>&#8226;</span> Leading QA software test automation</a></p>
        <p class="subDetails"> <span>&#8226;</span> Lead in the development and maintenance of automated tests in C#
          within 2 week Sprints</a></p>
        <p class="subDetails"> <span>&#8226;</span> Very strong Scrum Master working within a 9 person Scrum Team</a>
        </p>
        <p class="subDetails"> <span>&#8226;</span> Strong CI/CD experience with build servers and automated data
          reporting</a></p>
        <p class="subTags">C# | C++ | Selenium | python | SQL | agile | TeamCity | javascript | HTML</a></p>
      </div>
    </div>
  </li>

  <!-- Item 7 -->

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Quality Engineer</span>
        <span class="time-wrapper"><span class="time">April 2019 – August 2020</span></span>
      </div>
      <div class="desc">
        <a href="https://www.theprojectgroup.com/en/" target="_blank">The Project Group</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Banyoles, Spain
        <p class="subDetails"> <span>&#8226;</span>Directly responsible for a 600% increase in QA automated tests during
          first 7 month period</p>
        <p class="subDetails"> <span>&#8226;</span>Developing C# automated tests to manage and maintain software with a
          high standard of quality</p>
        <p class="subDetails"> <span>&#8226;</span>Strong at guiding new employees and interns</p>
      </div>
    </div>
  </li>


  <!-- Item 6 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Doctor of Philosophy (PhD)</span>
        <span class="time-wrapper"><span class="time">December 2018</span></span>
      </div>
      <div class="desc">
        <i class="icon fas fa-university"></i> &nbsp; Electrochemistry
        <hr>
        <a href="http://www.nuigalway.ie/" target="_blank">National University of Ireland Galway</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Galway, Ireland
        <p class="subDetails"> <span>&#8226;</span> Ranks among the top 1% of Universities in the world</p>
        <p class="subDetails"> <span>&#8226;</span> Strong development in computer programming applied to Chemical and
          Electronic Engineering projects</p>
        <p class="subDetails"> <span>&#8226;</span> Solid first author publishing record in internationally renowned ACS
          and Elsevier Journals</p>
        <p class="subDetails"> <span>&#8226;</span> Very high level of project management experience</p>
      </div>
    </div>
  </li>


  <!-- Item 5 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Bachelor of Science (Hons)</span>
        <span class="time-wrapper"><span class="time">June 2014</span></span>
      </div>
      <div class="desc">
        <i class="icon fas fa-university"></i> &nbsp; Forensic Investigation and Analysis
        <hr>
        <a href="https://www.itsligo.ie/" target="_blank">Institute of Technology Sligo</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Sligo, Ireland
        <p class="subDetails"> <span>&#8226;</span> The only course in Ireland accredited by The Chartered Society of
          Forensic Sciences</p>
        <p class="subDetails"> <span>&#8226;</span> Strong analytical skills in Chemistry and Biology applied to Crime
          Scene Management</p>
        <p class="subDetails"> <span>&#8226;</span> Strong scientific methods and processes in crime solving</p>
        <p class="subDetails"> <span>&#8226;</span> Very high level of project management experience</p>
      </div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Reviewer</span>
        <span class="time-wrapper"><span class="time">April 2018 – Present</span></span>
      </div>
      <div class="desc">
        <a href="https://www.acs.org/content/acs/en.html" target="_blank">The American Chemical Society</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Washington, DC, USA
        <p class="subDetails"> <span>&#8226;</span> Ensure the rigorous standards of the scientific process by taking
          part in the peer-review system</p>
        <p class="subDetails"> <span>&#8226;</span> Strong attention to detail and ability to critically explain
          procedures and requirements to a high standard</p>
        <p class="subDetails"> <span>&#8226;</span> Uphold the integrity of the journal by identifying invalid research,
          and helping to maintain the quality of the journal</p>
        <p class="subTags">technical writing | data analysis | integrity | ethics | peer-review </a></p>
      </div>
    </div>
  </li>


  <!-- Item 3 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Ph.D Researcher</span>
        <span class="time-wrapper"><span class="time">Nov 2014 – Dec 2018</span></span>
      </div>
      <div class="desc">
        <a href="http://www.nuigalway.ie/" target="_blank">National University of Ireland Galway</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Galway, Ireland
        <p class="subDetails"> <span>&#8226;</span> Expert in developing Internet of Things based chemical sensors</a>
        </p>
        <p class="subDetails"> <span>&#8226;</span> Very strong experience with method validation, implementation and
          maintenance
          of chemical processes in challenging environments</a></p>
        <p class="subDetails"> <span>&#8226;</span> Published scientific research in high impact internationally
          peer-reviewed
          journals</a></p>
        <p class="subTags">C++ | microcontroller fundamentals | electronic engineering | IoT | automation </a></p>
      </div>
    </div>
  </li>



  <!-- Item 2 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Visiting Researcher</span>
        <span class="time-wrapper"><span class="time">July 2015 – Sep 2015</span></span>
      </div>
      <div class="desc">
        <a href="https://uconn.edu/" target="_blank">University of Connecticut</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Storrs, CT, USA
        <p class="subDetails"> <span>&#8226;</span> Application of quality control associated to the diagnostic process
          of the
          project to improve the scalability of the system</a></p>
        <p class="subDetails"> <span>&#8226;</span> Design and implementation of new engineering approaches to achieve
          the
          technical aims in each phase of the project</a></p>
        <p class="subDetails"> <span>&#8226;</span> Demonstrated ability to comfortably work with an international
          community
          of people</a></p>
        <p class="subTags">tech transfer | team work | diverse backgrounds | scientific collaboration </a></p>
      </div>
    </div>
  </li>


  <!-- Item 1 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Private in the Corps of Engineers</span>
        <span class="time-wrapper"><span class="time">Sep 2009 – Sep 2012</span></span>
      </div>
      <div class="desc">
        <a href="https://www.military.ie/en/#1" target="_blank">Irish Defence Forces (Reserve)</a>
        <hr>
        <i class="icon fas fa-map-pin"></i> &nbsp; Renmore, Ireland
        <p class="subDetails"> <span>&#8226;</span> Proven leadership skills by example and positive role modelling</a>
        </p>
        <p class="subDetails"> <span>&#8226;</span> Strong ability to motivate others and work with a team</a></p>
        <p class="subDetails"> <span>&#8226;</span> Demonstrated ability to be clear, concise and effective with
          communication</a></p>
        <p class="subTags">leadership | team work | diverse backgrounds | planning </a></p>
      </div>
    </div>
  </li>