<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:conan.mercer1@gmail.com"
        ><i class="icon fas fa-envelope"></i
      ></a>
      <a
        aria-label="My LinkedIn"
        target="_blank"
        href="https://www.linkedin.com/in/conanmercer"
        ><i class="icon fab fa-linkedin-in" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Twitter"
        target="_blank"
        href="https://twitter.com/ConanMphoto"
        ><i class="icon fab fa-twitter" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My ResearchGate"
        target="_blank"
        href="https://www.researchgate.net/profile/Conan_Mercer"
        ><i class="icon fab fa-researchgate" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Orcid"
        target="_blank"
        href="http://orcid.org/0000-0003-3508-696X"
        ><i class="icon fab fa-orcid" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
