.curriculum {
  text-align: left;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.details {
  margin: 10px;
  flex: 1 1 0;
  h2,
  h3 {
    font-weight: 400;
  }
}

.curriculum-dates {
  text-align: center;
  margin: 5px auto;
  h1 {
    font-weight: 400;
  }
}

.subDetails {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 3px;
}

.subTags {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 3px;
}
