@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import "base";
@import "vars";
@import "animation";
@import "header";
@import "nav";
@import "post";
@import "about";
@import "curriculum";
@import "timeline";
@import "footer";
