<!DOCTYPE html>
<head>
  <script src="https://kit.fontawesome.com/81b0e30b1f.js" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include nav.html %}
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    <section id="about">
      {% include about.html %}
    <section id="curriculum">
      {% include curriculum.html %}
    </section>
      <!-- {{ content }} -->
      {% include footer.html %}
  </body>
</html>
